@charset "UTF-8";
// 主色
$color-main: #21b8c6;
// 辅色
$color-second:#b45d01;
// 文字主色
$text-main:black;
// 文字辅色
$text-gray:#a0a0a0;
// 通用容器
$container:1200px;

// 定义浏览器内核属性
@mixin webkit($type, $value){
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}: $value;
    #{$type}: $value;
}

